/*Header*/
.header {
   background-image: url(../../web/imagenes/headerAndFooter/Header.png);
   background-position: center;
   background-repeat: no-repeat;
   // background-attachment: fixed;
   background-size: cover; 
   height: 85rem;
   
   .navbar {
      color: #000;


 
      .logo {
         width: 6rem;
         height: auto;
      }
   }

   
   
}

/*/header*/

