.servicios {

    background-image: url(../../web/imagenes/fondos/img-serv.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover; 
    height: 85rem;

}